{% extends "public_template.html" %}

{% block title %}Upload image{% endblock%}

{% block main %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Prześlij zdjęcie znamienia</h1>
            <hr>
            <form action="/" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label>Wybierz zdjęcie</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="image" id="image">
                        <label class="custom-file-label" for="image">Wybierz zdjęcie ...</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Prześlij zdjęcie</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}